<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras - Artemiz</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Artemiz</div>
            <ul>
                <li><a href="">Inicio</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="h1">Carrito de Compras</h1>
<main class="container">
    <div class="cart">
        <div class="cart-items">
            <div class="cart-item">
                <img src="producto1.jpg" alt="Producto 1">
                <div class="item-details">
                    <h3>Producto 1</h3>
                    <p>Precio: $20.00</p>
                    <input type="number" value="1" min="1">
                </div>
                <button class="remove-button">Eliminar</button>
            </div>

            <div class="cart-item">
                <img src="producto2.jpg" alt="Producto 2">
                <div class="item-details">
                    <h3>Producto 2</h3>
                    <p>Precio: $15.00</p>
                    <input type="number" value="1" min="1">
                </div>
                <button class="remove-button">Eliminar</button>
            </div>
        </div>

       
    </div>
    <div class="cart-summary">
        <h3>Total: <span class="total-price">$35.00</span></h3>
        <button class="checkout-button">Finalizar Compra</button>
    </div>
</main>
    
</body>
</html>
